<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ManagerAccount">
      <section name="Administrator" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="ServerConfiguration" restartOnExternalChanges="true" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FirstRun" value="true"/>
    <add key="SecurityKey" value="#!ilovescurity^binbashkalisecurity"/>
  </appSettings>
  <ManagerAccount>
    <Administrator>
	    <add key="Username" value="Admin"/>
	    <add key="Password" value="admin"/>
    </Administrator>
  </ManagerAccount>
  <ServerConfiguration>
    <add key="IPAddress" value="192.168.137.1"/>
    <add key="Port" value="1995"/>
  </ServerConfiguration>
  <connectionStrings>
    <add name="iChat" providerName="System.Data.SqlClient" connectionString="Data Source=HUNGHIEU\MISASME2015; Initial Catalog=iChat; User ID=hunghieu; Password=hunghieu280295"/>
  </connectionStrings>
</configuration>